<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_developers})}|">Show Developers - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${developers}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="developers-devstudio-field" data-z="a778540a">
            	      <strong data-th-text="#{label_developers_devstudio}">devstudio</strong>
                    <span data-th-text="*{{devstudio}}">devstudioValue</span>
         	        </li>
                  <li id="developers-name-field" data-z="96201b14">
            	      <strong data-th-text="#{label_developers_name}">name</strong>
                    <span data-th-text="*{{name}}">nameValue</span>
         	        </li>
                  <li id="developers-surname-field" data-z="603304ca">
            	      <strong data-th-text="#{label_developers_surname}">surname</strong>
                    <span data-th-text="*{{surname}}">surnameValue</span>
         	        </li>
                  <li id="developers-status-field" data-z="962858f4">
            	      <strong data-th-text="#{label_developers_status}">status</strong>
                    <span data-th-text="*{{status}}">statusValue</span>
         	        </li>
                  <li id="developers-salary-field" data-z="9af07df4">
            	      <strong data-th-text="#{label_developers_salary}">salary</strong>
                    <span data-th-text="*{{salary}}">salaryValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
