<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Page menu</title>
  </head>
  <body id="body">
    <!--
    Only the internal content of the following div is included within
    the template, in menu fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu">

         <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="gamebase" href="/" data-th-href="@{/}">
                  <img alt="gamebase" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">gamebase</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <ul class="nav navbar-nav" id="entitiesMenuEntries">
                <li class="dropdown" id="dlc-entry" data-z="7e8e6156">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_dlc})}">DLC<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/dlcs/create-form" data-th-href="@{/dlcs/create-form}" data-th-utext="#{label_create_entity(#{label_dlc})}">Create DLC</a></li>
	                  <li><a href="/dlcs" data-th-href="@{/dlcs}" data-th-utext="#{label_list_entity(#{label_dlc_plural})}">List DLC</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="devstudio-entry" data-z="3d271836">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_devstudio})}">DevStudio<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/devstudios/create-form" data-th-href="@{/devstudios/create-form}" data-th-utext="#{label_create_entity(#{label_devstudio})}">Create DevStudio</a></li>
	                  <li><a href="/devstudios" data-th-href="@{/devstudios}" data-th-utext="#{label_list_entity(#{label_devstudio_plural})}">List DevStudio</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="developer-entry" data-z="751d6016">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_developer})}">Developer<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/developers/create-form" data-th-href="@{/developers/create-form}" data-th-utext="#{label_create_entity(#{label_developer})}">Create Developer</a></li>
	                  <li><a href="/developers" data-th-href="@{/developers}" data-th-utext="#{label_list_entity(#{label_developer_plural})}">List Developer</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="game-entry" data-z="fab75b68">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_game})}">Game<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/games/create-form" data-th-href="@{/games/create-form}" data-th-utext="#{label_create_entity(#{label_game})}">Create Game</a></li>
	                  <li><a href="/games" data-th-href="@{/games}" data-th-utext="#{label_list_entity(#{label_game_plural})}">List Game</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="gameplat-entry" data-z="94073f08">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_gameplat})}">GamePlat<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/gameplats/create-form" data-th-href="@{/gameplats/create-form}" data-th-utext="#{label_create_entity(#{label_gameplat})}">Create GamePlat</a></li>
	                  <li><a href="/gameplats" data-th-href="@{/gameplats}" data-th-utext="#{label_list_entity(#{label_gameplat_plural})}">List GamePlat</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="gametype-entry" data-z="b95a3308">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_gametype})}">GameType<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/gametypes/create-form" data-th-href="@{/gametypes/create-form}" data-th-utext="#{label_create_entity(#{label_gametype})}">Create GameType</a></li>
	                  <li><a href="/gametypes" data-th-href="@{/gametypes}" data-th-utext="#{label_list_entity(#{label_gametype_plural})}">List GameType</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="platform-entry" data-z="33ac52e8">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_platform})}">Platform<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/platforms/create-form" data-th-href="@{/platforms/create-form}" data-th-utext="#{label_create_entity(#{label_platform})}">Create Platform</a></li>
	                  <li><a href="/platforms" data-th-href="@{/platforms}" data-th-utext="#{label_list_entity(#{label_platform_plural})}">List Platform</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="publisher-entry" data-z="9715816">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_publisher})}">Publisher<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/publishers/create-form" data-th-href="@{/publishers/create-form}" data-th-utext="#{label_create_entity(#{label_publisher})}">Create Publisher</a></li>
	                  <li><a href="/publishers" data-th-href="@{/publishers}" data-th-utext="#{label_list_entity(#{label_publisher_plural})}">List Publisher</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="review-entry" data-z="4c700928">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_review})}">Review<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/reviews/create-form" data-th-href="@{/reviews/create-form}" data-th-utext="#{label_create_entity(#{label_review})}">Create Review</a></li>
	                  <li><a href="/reviews" data-th-href="@{/reviews}" data-th-utext="#{label_list_entity(#{label_review_plural})}">List Review</a></li>
                 </ul>
                </li>
                <li class="dropdown" id="reviewer-entry" data-z="bc76cae8">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_reviewer})}">Reviewer<span class="caret"></span></a>
                 <ul class="dropdown-menu">
	                   <li><a href="/reviewers/create-form" data-th-href="@{/reviewers/create-form}" data-th-utext="#{label_create_entity(#{label_reviewer})}">Create Reviewer</a></li>
	                  <li><a href="/reviewers" data-th-href="@{/reviewers}" data-th-utext="#{label_list_entity(#{label_reviewer_plural})}">List Reviewer</a></li>
                 </ul>
                </li>
              </ul>

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>



              <!-- User menu links -->
              <ul class="nav navbar-nav navbar-right upper-nav links" data-th-replace="~{fragments/session-links :: links}">
                <!-- Content replaced by the links template fragment session-links.html
                -->
                <span>User session data</span>
              </ul>
           </div>

          </div>
    </nav>

    <!--
    Only the internal content of the following div is included within
    the template, in menu-languages fragment
    -->
    <nav class="navbar navbar-default navbar-static-top" data-th-fragment="menu-languages">

         <div class="container">

            <div class="navbar-header">

              <!-- Brand logo -->
              <div class="organization-logo navbar-brand">
                <a title="gamebase" href="/" data-th-href="@{/}">
                  <img alt="gamebase" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" />
                </a>
              </div>
              <!-- Name application -->
              <div class="application-name navbar-brand hidden-xs">
                <a data-th-title="#{label_goHome}" href="/" data-th-href="@{/}">gamebase</a>
              </div>

            </div><!-- /navbar-header -->

            <div id="mainnav" class="navbar-collapse collapse">

              <!-- Language select -->
              <ul class="nav navbar-nav navbar-right upper-nav languages" data-th-replace="~{fragments/languages :: languages}">
                <!-- Content replaced by the session template fragment language.html
                -->
                <span>Language data</span>
              </ul>

           </div>

          </div>
    </nav>

  </body>
</html>
