<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_review})}">
    Edit Review - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('ReviewsCollectionThymeleafController')},itemLink=${@linkBuilder.of('ReviewsItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_review})}">Edit Review</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${review}" data-th-action="${itemLink.to('update').with('review', review.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('review', review.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_review})}">Review data </legend>

<div class="form-group has-error has-feedback" data-z="9cac9583" id="review-reviewer-field" data-th-classappend="${#fields.hasErrors('reviewer')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('ReviewersCollectionThymeleafController')}">
    <label for="reviewer" class="col-md-3 control-label" data-th-text="#{label_review_reviewer}">Reviewer</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{reviewer}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{reviewer} == null" data-th-value="*{reviewer.id}" data-th-text="*{{reviewer}}" selected="selected">Reviewer</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('reviewer')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('reviewer')}" aria-hidden="true"></span>
      <span id="reviewer-error" class="help-block" data-th-if="${#fields.hasErrors('reviewer')}" data-th-errors="*{reviewer}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="b9c53563" id="review-user_score-field" data-th-classappend="${#fields.hasErrors('user_score')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="user_score" class="col-md-3 control-label" data-th-text="#{label_review_user_score}">user_score</label>
  <div class="col-md-3">
    <input id="user_score" name="user_score" data-th-value="*{{user_score}}" type="text" class="form-control inputmask" placeholder="user_score" data-th-placeholder="#{label_review_user_score}" data-toggle="tooltip" aria-describedby="user_scoreStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" required="required" />
      <span data-th-classappend="${#fields.hasErrors('user_score')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('user_score')}" aria-hidden="true"></span>
      <span id="user_score-error" class="help-block" data-th-if="${#fields.hasErrors('user_score')}" data-th-errors="*{user_score}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="48879783" id="review-crit_score-field" data-th-classappend="${#fields.hasErrors('crit_score')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="crit_score" class="col-md-3 control-label" data-th-text="#{label_review_crit_score}">crit_score</label>
  <div class="col-md-3">
    <input id="crit_score" name="crit_score" data-th-value="*{{crit_score}}" type="text" class="form-control inputmask" placeholder="crit_score" data-th-placeholder="#{label_review_crit_score}" data-toggle="tooltip" aria-describedby="crit_scoreStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" required="required" />
      <span data-th-classappend="${#fields.hasErrors('crit_score')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('crit_score')}" aria-hidden="true"></span>
      <span id="crit_score-error" class="help-block" data-th-if="${#fields.hasErrors('crit_score')}" data-th-errors="*{crit_score}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="834d1563" id="review-gameplay-field" data-th-classappend="${#fields.hasErrors('gameplay')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="gameplay" class="col-md-3 control-label" data-th-text="#{label_review_gameplay}">gameplay</label>
  <div class="col-md-3">
    <input id="gameplay" name="gameplay" data-th-value="*{{gameplay}}" type="text" class="form-control inputmask" placeholder="gameplay" data-th-placeholder="#{label_review_gameplay}" data-toggle="tooltip" aria-describedby="gameplayStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" required="required" />
      <span data-th-classappend="${#fields.hasErrors('gameplay')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('gameplay')}" aria-hidden="true"></span>
      <span id="gameplay-error" class="help-block" data-th-if="${#fields.hasErrors('gameplay')}" data-th-errors="*{gameplay}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="32db1cc3" id="review-graphics-field" data-th-classappend="${#fields.hasErrors('graphics')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="graphics" class="col-md-3 control-label" data-th-text="#{label_review_graphics}">graphics</label>
  <div class="col-md-3">
    <input id="graphics" name="graphics" data-th-value="*{{graphics}}" type="text" class="form-control inputmask" placeholder="graphics" data-th-placeholder="#{label_review_graphics}" data-toggle="tooltip" aria-describedby="graphicsStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" required="required" />
      <span data-th-classappend="${#fields.hasErrors('graphics')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('graphics')}" aria-hidden="true"></span>
      <span id="graphics-error" class="help-block" data-th-if="${#fields.hasErrors('graphics')}" data-th-errors="*{graphics}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="da6afa5b" id="review-audio-field" data-th-classappend="${#fields.hasErrors('audio')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="audio" class="col-md-3 control-label" data-th-text="#{label_review_audio}">audio</label>
  <div class="col-md-3">
    <input id="audio" name="audio" data-th-value="*{{audio}}" type="text" class="form-control inputmask" placeholder="audio" data-th-placeholder="#{label_review_audio}" data-toggle="tooltip" aria-describedby="audioStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" required="required" />
      <span data-th-classappend="${#fields.hasErrors('audio')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('audio')}" aria-hidden="true"></span>
      <span id="audio-error" class="help-block" data-th-if="${#fields.hasErrors('audio')}" data-th-errors="*{audio}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="9ce20de3" id="review-game-field" data-th-classappend="${#fields.hasErrors('game')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('GamesCollectionThymeleafController')}">
    <label for="game" class="col-md-3 control-label" data-th-text="#{label_review_game}">Game</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{game}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{game} == null" data-th-value="*{game.id}" data-th-text="*{{game}}" selected="selected">Game</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('game')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('game')}" aria-hidden="true"></span>
      <span id="game-error" class="help-block" data-th-if="${#fields.hasErrors('game')}" data-th-errors="*{game}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
