<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_dlc})}|">Show DLC - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${dLC}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="dlc-game-field" data-z="dc9bae30">
            	      <strong data-th-text="#{label_dlc_game}">game</strong>
                    <span data-th-text="*{{game}}">gameValue</span>
         	        </li>
                  <li id="dlc-name-field" data-z="e8f03f10">
            	      <strong data-th-text="#{label_dlc_name}">name</strong>
                    <span data-th-text="*{{name}}">nameValue</span>
         	        </li>
                  <li id="dlc-rel_date-field" data-z="e5fe5170">
            	      <strong data-th-text="#{label_dlc_rel_date}">rel_date</strong>
                    <span data-th-text="*{{rel_date}}">rel_dateValue</span>
         	        </li>
                  <li id="dlc-price-field" data-z="bff8814e">
            	      <strong data-th-text="#{label_dlc_price}">price</strong>
                    <span data-th-text="*{{price}}">priceValue</span>
         	        </li>
                  <li id="dlc-description-field" data-z="c370efae">
            	      <strong data-th-text="#{label_dlc_description}">description</strong>
                    <span data-th-text="*{{description}}">descriptionValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
