<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="dlcs-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('GamesesItemDlcsThymeleafController')}">
    <table id="dlcs-detail-table-item-to-remove" data-parent-table="games-entity-table" data-data-parent-id="${games != null ? games.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('games', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="games" data-th-text="#{label_games_dlcs_games}">games</th>
              <th data-data="name" data-th-text="#{label_games_dlcs_name}">name</th>
              <th data-data="rel_date" data-th-text="#{label_games_dlcs_rel_date}">rel_date</th>
              <th data-data="price" data-th-text="#{label_games_dlcs_price}">price</th>
              <th data-data="description" data-th-text="#{label_games_dlcs_description}">description</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>games</td>
              <td>name</td>
              <td>rel_date</td>
              <td>price</td>
              <td>description</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->