<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="reviews-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('ReviewersItemReviewsThymeleafController')}">
    <table id="reviews-detail-table-items-to-remove-batch" data-parent-table="reviewer-entity-table" data-data-parent-id="${reviewer != null ? reviewer.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('reviewer', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="reviewer" data-th-text="#{label_reviewer_reviews_reviewer}">reviewer</th>
              <th data-data="user_score" data-th-text="#{label_reviewer_reviews_user_score}">user_score</th>
              <th data-data="crit_score" data-th-text="#{label_reviewer_reviews_crit_score}">crit_score</th>
              <th data-data="gameplay" data-th-text="#{label_reviewer_reviews_gameplay}">gameplay</th>
              <th data-data="graphics" data-th-text="#{label_reviewer_reviews_graphics}">graphics</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>reviewer</td>
              <td>user_score</td>
              <td>crit_score</td>
              <td>gameplay</td>
              <td>graphics</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->