<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="devstudio-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('DevStudiosCollectionThymeleafController')},itemLink=${@linkBuilder.of('DevStudiosItemThymeleafController')}">
    <table id="devstudio-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="name" data-th-text="#{label_devstudio_name}">name</th>
          <th data-data="country" data-th-text="#{label_devstudio_country}">country</th>
          <th data-data="main_loc" data-th-text="#{label_devstudio_main_loc}">main_loc</th>
          <th data-data="devs_count" data-th-text="#{label_devstudio_devs_count}">devs_count</th>
          <th data-data="valueOf" data-th-text="#{label_devstudio_valueof}">valueOf</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>name</td>
          <td>country</td>
          <td>main_loc</td>
          <td>devs_count</td>
          <td>valueOf</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->