<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
  <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_review})}|">Show Review - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content" data-th-object="${review}">
        <div class="container-fluid content">

          <!-- CONTENT -->
          <h1 data-th-text="#{label_show_entity(#{label_review})}">Show Review</h1>

            <div id="mainEntityFieldSet">
              <h2 data-th-text="#{label_data_entity(#{label_review})}">Review data</h2>
              <ul class="list-unstyled" id="containerFields">
                  <li id="review-reviewer-field" data-z="9cac9583">
            	      <strong data-th-text="#{label_review_reviewer}">reviewer</strong>
                    <span data-th-text="*{{reviewer}}">reviewerValue</span>
         	        </li>
                  <li id="review-user_score-field" data-z="b9c53563">
            	      <strong data-th-text="#{label_review_user_score}">user_score</strong>
                    <span data-th-text="*{{user_score}}">user_scoreValue</span>
         	        </li>
                  <li id="review-crit_score-field" data-z="48879783">
            	      <strong data-th-text="#{label_review_crit_score}">crit_score</strong>
                    <span data-th-text="*{{crit_score}}">crit_scoreValue</span>
         	        </li>
                  <li id="review-gameplay-field" data-z="834d1563">
            	      <strong data-th-text="#{label_review_gameplay}">gameplay</strong>
                    <span data-th-text="*{{gameplay}}">gameplayValue</span>
         	        </li>
                  <li id="review-graphics-field" data-z="32db1cc3">
            	      <strong data-th-text="#{label_review_graphics}">graphics</strong>
                    <span data-th-text="*{{graphics}}">graphicsValue</span>
         	        </li>
                  <li id="review-audio-field" data-z="da6afa5b">
            	      <strong data-th-text="#{label_review_audio}">audio</strong>
                    <span data-th-text="*{{audio}}">audioValue</span>
         	        </li>
                  <li id="review-game-field" data-z="9ce20de3">
            	      <strong data-th-text="#{label_review_game}">game</strong>
                    <span data-th-text="*{{game}}">gameValue</span>
         	        </li>
              </ul>
            </div>


          <div class="clearfix">
            <div class="pull-right">
             <a id="Review_edit" href="edit.html" class="btn btn-primary" data-th-title="#{label_goEdit}" data-th-href="${@linkBuilder.of('ReviewsItemThymeleafController').to('editForm').with('review', review.id)}" data-th-text="#{label_edit}">Edit</a>
            </div>
          </div>


          <div class="clearfix">
            <div class="pull-left">
              <a id="Review_list" href="list.html" class="btn btn-default" data-th-title="#{label_goBack}" data-th-href="${@linkBuilder.of('ReviewsCollectionThymeleafController').to('list')}">
  	             <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	             <span data-th-text="#{label_back}">Back</span>
  	          </a>
            </div>
          </div>
        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
