<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="game-entityModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('GamesCollectionThymeleafController')},itemLink=${@linkBuilder.of('GamesItemThymeleafController')}">
    <table id="game-entity-table-item-to-remove" data-data-load-url="${collectionLink.to('datatablesByIdsIn')}">
      <thead>
        <tr>
          <th data-data="title" data-th-text="#{label_game_title}">title</th>
          <th data-data="description" data-th-text="#{label_game_description}">description</th>
          <th data-data="pegi" data-th-text="#{label_game_pegi}">pegi</th>
          <th data-data="rel_date" data-th-text="#{label_game_rel_date}">rel_date</th>
          <th data-data="budget" data-th-text="#{label_game_budget}">budget</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
          <td>title</td>
          <td>description</td>
          <td>pegi</td>
          <td>rel_date</td>
          <td>budget</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->