<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-layout}">
  <head id="head">

    <title data-th-text="#{label_edit_entity(#{label_games})}">
    Edit Games - Spring Roo application</title>

    <!-- DateTimePicker -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" data-th-href="@{/webjars/datetimepicker/2.5.4/build/jquery.datetimepicker.min.css}" />

  </head>
  

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!-- CONTAINER -->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-layout-fragment="content">

        <div class="container-fluid content" data-th-with="collectionLink=${@linkBuilder.of('GamesesCollectionThymeleafController')},itemLink=${@linkBuilder.of('GamesesItemThymeleafController')}">

          <h1 data-th-text="#{label_edit_entity(#{label_games})}">Edit Games</h1>

          <!-- FORM -->
          <form class="form-horizontal validate" method="POST" data-th-object="${games}" data-th-action="${itemLink.to('update').with('games', games.id)}">
            <input type="hidden" name="_method" value="PUT" />
            	<input type="hidden" name="version" data-th-value="*{version}" />

            <!-- CONCURRENCY CONTROL -->
            <div data-th-replace="~{fragments/concurrency-control :: concurrency-control(editFormUrl = ${itemLink.to('editForm').with('games', games.id)})}"></div>
            <!-- /CONCURRENCY CONTROL -->

             <fieldset id="containerFields">
              <legend class="sr-only" data-th-text="#{label_data_entity(#{label_games})}">Games data </legend>

<div class="form-group has-error has-feedback" data-z="e683c008" id="games-title-field" data-th-classappend="${#fields.hasErrors('title')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="title" class="col-md-3 control-label" data-th-text="#{label_games_title}">title</label>
  <div class="col-md-6">
    <input id="title" name="title" data-th-value="*{{title}}" type="text" class="form-control" placeholder="title" data-th-placeholder="#{label_games_title}" data-toggle="tooltip" aria-describedby="titleStatus" required="required" />
      <span data-th-classappend="${#fields.hasErrors('title')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('title')}" aria-hidden="true"></span>
      <span id="title-error" class="help-block" data-th-if="${#fields.hasErrors('title')}" data-th-errors="*{title}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="c99c1a36" id="games-desccription-field" data-th-classappend="${#fields.hasErrors('desccription')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="desccription" class="col-md-3 control-label" data-th-text="#{label_games_desccription}">desccription</label>
  <div class="col-md-6">
    <input id="desccription" name="desccription" data-th-value="*{{desccription}}" type="text" class="form-control" placeholder="desccription" data-th-placeholder="#{label_games_desccription}" data-toggle="tooltip" aria-describedby="desccriptionStatus" />
      <span data-th-classappend="${#fields.hasErrors('desccription')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('desccription')}" aria-hidden="true"></span>
      <span id="desccription-error" class="help-block" data-th-if="${#fields.hasErrors('desccription')}" data-th-errors="*{desccription}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="42346db6" id="games-pegi-field" data-th-classappend="${#fields.hasErrors('pegi')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="pegi" class="col-md-3 control-label" data-th-text="#{label_games_pegi}">pegi</label>
  <div class="col-md-3">
    <input id="pegi" name="pegi" data-th-value="*{{pegi}}" type="text" class="form-control inputmask" placeholder="pegi" data-th-placeholder="#{label_games_pegi}" data-toggle="tooltip" aria-describedby="pegiStatus" data-inputmask-alias="numeric" data-inputmask-digits="0" required="required" />
      <span data-th-classappend="${#fields.hasErrors('pegi')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('pegi')}" aria-hidden="true"></span>
      <span id="pegi-error" class="help-block" data-th-if="${#fields.hasErrors('pegi')}" data-th-errors="*{pegi}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" id="games-rel_date-field" data-z="5f2cae96" data-th-classappend="${#fields.hasErrors('rel_date')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="rel_date" class="col-md-3 control-label" data-th-text="#{label_games_rel_date}">rel_date</label>
  <div class="col-md-3">
    <input id="rel_date" name="rel_date" data-th-value="*{{rel_date}}" type="text" class="form-control datetimepicker" placeholder="rel_date" data-th-placeholder="#{label_games_rel_date}" data-th-attr="data-dateformat=${rel_date_date_format}" data-toggle="tooltip" required="required" /> <span data-th-classappend="${#fields.hasErrors('rel_date')}? 'glyphicon glyphicon-remove form-control-feedback'" data-th-if="${#fields.hasErrors('rel_date')}" aria-hidden="true"></span>
     <span id="rel_date-error" class="help-block" data-th-if="${#fields.hasErrors('rel_date')}" data-th-errors="*{rel_date}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="56b03e36" id="games-budget-field" data-th-classappend="${#fields.hasErrors('budget')}? 'has-error has-feedback'" data-th-class="form-group">
  <label for="budget" class="col-md-3 control-label" data-th-text="#{label_games_budget}">budget</label>
  <div class="col-md-3">
    <input id="budget" name="budget" data-th-value="*{{budget}}" type="text" class="form-control inputmask" placeholder="budget" data-th-placeholder="#{label_games_budget}" data-toggle="tooltip" aria-describedby="budgetStatus" data-inputmask-alias="numeric" data-inputmask-digits="2" />
      <span data-th-classappend="${#fields.hasErrors('budget')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('budget')}" aria-hidden="true"></span>
      <span id="budget-error" class="help-block" data-th-if="${#fields.hasErrors('budget')}" data-th-errors="*{budget}">Error message.</span>
  </div>
</div>
<div class="form-group has-error has-feedback" data-z="4a674556" id="games-type-field" data-th-classappend="${#fields.hasErrors('type')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('TypesCollectionThymeleafController')}">
    <label for="type" class="col-md-3 control-label" data-th-text="#{label_games_type}">Type</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{type}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{type} == null" data-th-value="*{type.id}" data-th-text="*{{type}}" selected="selected">Type</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('type')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('type')}" aria-hidden="true"></span>
      <span id="type-error" class="help-block" data-th-if="${#fields.hasErrors('type')}" data-th-errors="*{type}">Error message.</span>
    </div>
</div>
<div class="form-group has-error has-feedback" data-z="aae89528" id="games-devstudio-field" data-th-classappend="${#fields.hasErrors('devstudio')}? 'has-error has-feedback'" data-th-class="form-group" data-th-with="collectionLink=${@linkBuilder.of('DevStudiosCollectionThymeleafController')}">
    <label for="devstudio" class="col-md-3 control-label" data-th-text="#{label_games_devstudio}">DevStudio</label>
    <div class="col-md-6">
      <!-- Select2 -->
      <select data-th-field="*{devstudio}" class="form-control dropdown-select-ajax" data-allow-clear="true" data-data-ajax--url="${collectionLink.to('select2')}" data-ajax--cache="true" data-ajax--delay="250" data-ajax--data-type="json" data-data-placeholder="#{info_select_an_option}">
          <option data-th-unless="*{devstudio} == null" data-th-value="*{devstudio.id}" data-th-text="*{{devstudio}}" selected="selected">DevStudio</option>
      </select>
      <span data-th-classappend="${#fields.hasErrors('devstudio')}? 'glyphicon glyphicon-remove form-control-feedback'" class="glyphicon glyphicon-remove form-control-feedback" data-th-if="${#fields.hasErrors('devstudio')}" aria-hidden="true"></span>
      <span id="devstudio-error" class="help-block" data-th-if="${#fields.hasErrors('devstudio')}" data-th-errors="*{devstudio}">Error message.</span>
    </div>
</div>
             </fieldset>


              <!-- buttons form -->
              <div class="form-group">
                <div class="col-md-12">
                  <div class="pull-left">
                    <button type="reset" class="btn btn-default" onclick="location.href='list.html'" data-th-onclick="'location.href=\'' + @{${collectionLink.to('list')}} + '\''" data-th-text="#{label_reset}">Cancel</button>
                  </div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-primary" data-th-text="#{label_save}">Save</button>
                  </div>
                </div>
              </div>

          </form>
          <!-- /FORM -->

        </div>

      </section>
      <!-- /CONTENT -->
   </div>
   <!-- /CONTAINER -->

   <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
   </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">

    <!-- DateTimePicker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.min.js" data-th-src="@{/webjars/datetimepicker/build/jquery.datetimepicker.full.min.js}"></script>
    <script src="../../static/public/js/datetimepicker-defaults.js" data-th-src="@{/public/js/datetimepicker-defaults.js}"></script>

    <!-- jquery.inputmask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.1/jquery.inputmask.bundle.min.js" data-th-src="@{/webjars/jquery.inputmask/min/jquery.inputmask.bundle.min.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
        jQuery(document).ready(
      	  function() {
      	    Inputmask.extendAliases({
      	      'numeric' : {
      	         'groupSeparator' : /*[[#{label_inputmask_groupSeparator}]]*/'.',
      	         'radixPoint' : /*[[#{label_inputmask_radixPoint}]]*/','
      	       },
      	       'currency' : {
      	          'prefix' : /*[[#{label_inputmask_prefix}]]*/'',
      	          'suffix' : /*[[#{label_inputmask_suffix}]]*/' €'
      	        }
      	    });
      	 });
       })(jQuery);
    </script>
    <script src="../../static/public/js/inputmask-defaults.js" data-th-src="@{/public/js/inputmask-defaults.js}"></script>

    <!-- JQuery Validation -->
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js" data-th-src="@{/webjars/jquery-validation/dist/jquery.validate.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.min.js" data-th-src="@{/webjars/jquery-validation/dist/additional-methods.min.js}">
      </script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/localization/messages_es.js" data-th-src="@{/webjars/jquery-validation/src/localization/messages_}+${#locale.language}+'.js'" data-th-if="${#locale.language} != 'en'">
      </script>
    <script src="../../static/public/js/validation-defaults.js" data-th-src="@{/public/js/validation-defaults.js}">
      </script>
    <!-- Concurrency control management -->
    <script data-th-src="@{/public/js/concurrency-control.js}"></script>
    <script type="text/javascript" data-th-inline="javascript">
      (function(jQuery) {
         jQuery(document).ready(function() {
      	   jQuery.extend( jQuery.validator.messages, {
      	     'dateformat' : /*[[#{error_invalid_date}]]*/ 'Please enter a correct date/time',
      	     'inputmask': /*[[#{error_invalid_maskValue}]]*/ 'Please enter a valid value',
      	   });
      	 });
      })(jQuery);
      </script>

    </div>

  </body>

</html>
