<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_games})}|">Show Games - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${games}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="games-title-field" data-z="e683c008">
            	      <strong data-th-text="#{label_games_title}">title</strong>
                    <span data-th-text="*{{title}}">titleValue</span>
         	        </li>
                  <li id="games-desccription-field" data-z="c99c1a36">
            	      <strong data-th-text="#{label_games_desccription}">desccription</strong>
                    <span data-th-text="*{{desccription}}">desccriptionValue</span>
         	        </li>
                  <li id="games-pegi-field" data-z="42346db6">
            	      <strong data-th-text="#{label_games_pegi}">pegi</strong>
                    <span data-th-text="*{{pegi}}">pegiValue</span>
         	        </li>
                  <li id="games-rel_date-field" data-z="5f2cae96">
            	      <strong data-th-text="#{label_games_rel_date}">rel_date</strong>
                    <span data-th-text="*{{rel_date}}">rel_dateValue</span>
         	        </li>
                  <li id="games-budget-field" data-z="56b03e36">
            	      <strong data-th-text="#{label_games_budget}">budget</strong>
                    <span data-th-text="*{{budget}}">budgetValue</span>
         	        </li>
                  <li id="games-type-field" data-z="4a674556">
            	      <strong data-th-text="#{label_games_type}">type</strong>
                    <span data-th-text="*{{type}}">typeValue</span>
         	        </li>
                  <li id="games-devstudio-field" data-z="aae89528">
            	      <strong data-th-text="#{label_games_devstudio}">devstudio</strong>
                    <span data-th-text="*{{devstudio}}">devstudioValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
