<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_publishers})}|">Show Publishers - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${publishers}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="publishers-name-field" data-z="4120e4a2">
            	      <strong data-th-text="#{label_publishers_name}">name</strong>
                    <span data-th-text="*{{name}}">nameValue</span>
         	        </li>
                  <li id="publishers-valueof-field" data-z="aa8d8afc">
            	      <strong data-th-text="#{label_publishers_valueof}">valueOf</strong>
                    <span data-th-text="*{{valueOf}}">valueOfValue</span>
         	        </li>
                  <li id="publishers-main_loc-field" data-z="7c90f142">
            	      <strong data-th-text="#{label_publishers_main_loc}">main_loc</strong>
                    <span data-th-text="*{{main_loc}}">main_locValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
